pkgbase = bitbucket-cli-bin
	pkgdesc = The missing command line interface for Bitbucket
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/gildas/bitbucket-cli
	arch = x86_64
	arch = aarch64
	license = MIT
	optdepends = gnome-keyring: Secret Service backend for credential storage
	provides = bitbucket-cli=0.18.0
	provides = bb=0.18.0
	conflicts = bitbucket-cli
	conflicts = bitbucket-cli-git
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/gildas/bitbucket-cli/releases/download/v0.18.0/bitbucket-cli_0.18.0_linux_amd64.tar.gz
	source_x86_64 = LICENSE::https://github.com/gildas/bitbucket-cli/raw/v0.18.0/LICENSE
	sha256sums_x86_64 = b2f8759dde04ed1555d21c183d98f43dc0c500550f1878ab023e9e6ab5d5beeb
	sha256sums_x86_64 = 476c049bd9aac064131760d13a1dfdebcb20d0e00d3536df08f3c2672755d5eb
	source_aarch64 = https://github.com/gildas/bitbucket-cli/releases/download/v0.18.0/bitbucket-cli_0.18.0_linux_arm64.tar.gz
	source_aarch64 = LICENSE::https://github.com/gildas/bitbucket-cli/raw/v0.18.0/LICENSE
	sha256sums_aarch64 = 467ed7ece88210e22f699811522c0d6b30e89a5c578c51a73add291862ddf2c8
	sha256sums_aarch64 = 476c049bd9aac064131760d13a1dfdebcb20d0e00d3536df08f3c2672755d5eb

pkgname = bitbucket-cli-bin
